@font-face {
    font-family: "OkMallang";
    src: url("./assets/fonts/OkMallang_B.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: 'omyupretty';
    src: url('./assets/fonts/omyupretty.ttf') format('truetype');
    font-weight: normal;
}

.todo {
    font-family: "OkMallang", sans-serif;
    font-size: 1.15rem;

    width: max(80%, 400px);
    margin: 20px auto;
    padding: 20px;
    background-color: #F9F9F9;
    border-radius: 15px;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}

.todo__form {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
}

.todo__input {
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-right: 10px;
    flex: 1;
    font-family: 'omyupretty', sans-serif;
}

.todo__button {
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.2em;
    color: #fff;
    font-family: 'omyupretty', sans-serif;
}

.todo__button--add {
    background-color: #4984e4;
}

.todo__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
    gap: 10px;
}

.todo__check {
    width: 20px;
    height: 20px;
    cursor: pointer;
    accent-color: #999;
}

.todo__label {
    flex: 1;
    margin-left: auto;
    font-family: 'omyupretty', sans-serif;
    font-size: 1.1rem;
}

.todo__input,
.todo__input--edit {
    font-family: 'omyupretty', sans-serif;
    font-size: 1.1rem;
}

.todo__button {
    font-family: 'omyupretty', sans-serif;
    font-size: 1rem;
}

.todo__item--complete .todo__label {
    text-decoration: line-through;
    color: #999;
}

.todo__date {
    font-family: 'omyupretty', sans-serif;
    font-size: 1rem;
    color: #666666;
    margin-right: 8px;
    white-space: nowrap;
}

.todo__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
    border-bottom: 1px solid #eee;
}

.todo__title {
    font-size: 28px;
    font-weight: 800;
}

.todo__music-button {
    font-size: 20px;
    padding: 8px 12px;
    border-radius: 8px;
}